{% extends 'base.html'%}
{% block content %}
    <div class="card">
        <h5 class="card-header">{{data}}</h5>
        <div class="card-body">
            <p class="card-text"><strong>Email: </strong>{{data.email}}</p>
            <p class="card-text"><strong>Phone: </strong>{{data.phone}}</p>
            <p class="card-text"><strong>Address: </strong>{{data.address}}</p>
            <p class="card-text"><strong>City: </strong>{{data.city}}</p>
            <p class="card-text"><strong>State: </strong>{{data.state}}</p>
            <p class="card-text"><strong>Zip code: </strong>{{data.zipcode}}</p>
            <a href="{% url 'updatecustomer' data.id %}" class="btn btn-primary">Update</a>
            <a href="{% url 'deletecustomer' data.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div><br/>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
{% endblock %}